<!DOCTYPE html>
<html>
  <head>
    <title>Search Results Page</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      </style>
   </head>
  <body >
    <h1>Search Results Page</h1>
    <a href="/menu/<%= user %>/<%= pwd %>">Back to Main Page</a><br>
    <table>
      <tr >
        <% let x = JSON.stringify(movie)%>
        <td><a href="/movieData/<%= user %>/<%= x %>/<%= pwd %>"><%= movie.name%></a></td>
        <td>
        <% allMovies.forEach(item =>{ %>
        <% var strJSON = encodeURIComponent(JSON.stringify(item));%>
          <a href="/movieData/<%= user %>/<%= strJSON %>/<%= pwd %>"><%= item.name %></a><br>
        <%})%>
      </td>
      </tr>
    </table>
  </body>
</html>
